<div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="btn btn--accent">Search</button>
</div>

- Because this part was so confusing about what the instructor used when and
where, I found data in at least 2 separate places maybe three and included them
all on the input-groups.html component but I specified to only use the top
coding for the final build.

<div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="btn btn--accent">Search</button>
</div>

/* use above for final build */ /* the input-group below shows the icon, input
place holder & botton */

<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </span>

  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="btn btn--accent">Search</button>
</div>
